In [1]:
# ------------------------------------------------------------------
# Build the Support Vector Classifier Model
# Predict the loan approval status based on 
# Gender, Marital Status, Credit History, Income and Loan Amount
# ------------------------------------------------------------------

# Import Libraries and read csv file

In [2]:
from sklearn import svm
import pandas as pd  
import numpy as np  
from sklearn.model_selection import train_test_split

In [3]:
data=pd.read_csv('01Exercise1.csv')
data.head()

  gender married   ch  income  loanamt status
0   Male      No  1.0    5849      NaN      Y
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y

In [4]:
#find out columns with missing values
data.isnull().sum()

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [5]:
# Replace Missing Values. Drop the rows.
data.dropna(inplace=True)

In [6]:
# Drop irrelevant columns based on business sense
data.drop('gender',axis=1,inplace=True)
data.head(2)

  married   ch  income  loanamt status
1     Yes  1.0    4583    128.0      N
2     Yes  1.0    3000     66.0      Y

In [7]:
# Create Dummy variables
married=pd.get_dummies(data['married'])
status=pd.get_dummies(data['status'])

In [8]:
data.drop(['married','status'],axis=1,inplace=True)

In [9]:
Data=pd.concat([data,married,status],axis=1)

In [10]:
Data

      ch  income  loanamt  No  Yes  N  Y
1    1.0    4583    128.0   0    1  1  0
2    1.0    3000     66.0   0    1  0  1
3    1.0    2583    120.0   0    1  0  1
4    1.0    6000    141.0   1    0  0  1
5    1.0    5417    267.0   0    1  0  1
..   ...     ...      ...  ..  ... .. ..
609  1.0    2900     71.0   1    0  0  1
610  1.0    4106     40.0   0    1  0  1
611  1.0    8072    253.0   0    1  0  1
612  1.0    7583    187.0   0    1  0  1
613  0.0    4583    133.0   1    0  1  0

[529 rows x 7 columns]

In [11]:
# Normalize the data (Income and Loan Amount) Using StandardS
from sklearn.preprocessing import StandardScaler 
x=Data[['income','loanamt']]

In [12]:
scaler = StandardScaler().fit(x)

In [13]:
rescaledX = scaler.transform(x)

In [17]:
# Create the X (Independent) and Y (Dependent) dataframes
Y=Data['Y']

In [18]:
X=Data.drop(['N','Y'],axis=1)

In [19]:
# Split the X and Y dataset into training and testing set
x_train, x_test, y_train, y_test=train_test_split(X,Y, test_size=0.30, random_state=10)

In [20]:
# Import and build Support Vector Classifier
svc = svm.SVC(kernel='linear')

In [21]:
svc.fit(x_train, y_train)

SVC(kernel='linear')

In [22]:
# Predict the outcome using Test data
y_pred = svc.predict(x_test)

In [24]:
# Build the conufsion matrix and get the accuracy/score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [25]:
print("Classification Report for SVM:""\n",classification_report(y_test, y_pred))

Classification Report for SVM:
               precision    recall  f1-score   support

           0       0.87      0.23      0.36        57
           1       0.69      0.98      0.81       102

    accuracy                           0.71       159
   macro avg       0.78      0.60      0.59       159
weighted avg       0.76      0.71      0.65       159

In [26]:
print(confusion_matrix(y_pred, y_test))

[[ 13   2]
 [ 44 100]]

In [28]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.710691823899371